<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="public/css/materialize.min.css" media="screen,projection" />
        <link rel="stylesheet" href="public/css/billing.css">
        
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>

        <nav class="pink">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">GST Biller</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/billing">Billing</a>
                    </li>
        
                </ul>
            </div>
        </nav>
        <div id="result" class="row">
            <div class="col s6 m6 l6" id="total">
                <h2>Total: <span>0</span></h2>
            </div>
            <div class="col s6 m6 l6" id="quantities">
                <h2>Quantities: <span>0</span></h2>
            </div>
        </div>
        <hr>
        <div id="bill">
            <h3 class="center">Bill</h3>

            <table class="centered striped">
                <thead>
                    <tr class="pink accent-2">
                        <th>Product Code</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Product GST</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
            
                <tbody id="billList">
                    
                </tbody>
            </table>
        </div>

        <hr>
        <h2 class="center">Search</h2>
        <div class="input-field col s6">
            <input id="search" type="text" class="validate" onkeyup="searchList(event)">
            <label for="search">Search</label>
        </div>

        <table class="centered">
            <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product GST</th>
                    <th>Add</th>
                </tr>
            </thead>
        
            <tbody id="dataList">
                <!-- <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>$0.87</td>
                    </tr>
                    <tr>
                        <td>Alan</td>
                        <td>Jellybean</td>
                        <td>$3.76</td>
                    </tr>
                    <tr>
                        <td>Jonathan</td>
                        <td>Lollipop</td>
                        <td>$7.00</td>
                    </tr> -->
            </tbody>
        </table>
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="public/js/materialize.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="public/js/billing.js"></script>
    </body>
</html>